{% if not user %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User lookup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='foot.css') }}">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/item">Item</a></li>
        <li><a href="/seller">Seller</a></li>
        <li><a href="/checkout">Checkout</a></li>
      </ul>
    <div class="container">
        <h1>Look up a user</h1>  
        <br>
        <div class = "register">
        <form action="" method="post">
            <div class = "row">
                <label for="phonenn">
                    <a>Phone Number: </a> 
                </label>
                
                <input class = "input" type="text" placeholder="Phone number" name="phonenn" required = "true">
            </div>
            <div class = "row">
                {% if error %}

                
          <script>alert("{{ error}}")</script></p>
            {% endif %}

        
          <input class="button button2" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
</body>
</html>
{% endif %}
{% if user %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='foot.css') }}">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/item">Item</a></li>
        <li><a href="/seller">Seller</a></li>
        <li><a href="/checkout">Checkout</a></li>
      </ul>
    <div class="container">
        <h1>Update a user</h1>
        <br>
        <div class = "register">
        <form action="/update" method="post">
            <div class = "row">
                <input class = "input" type="text" value = "{{ user[1] }}" name="sid"  required = "true"readonly="readonly" hidden="hidden">
            </div> 
            <div class = "row">
                <label for="phonen">
                    <a>Seller's Phone Number: </a> 
                </label> 
                <input class = "input" type="text" placeholder="Phone number" value = "{{ user[2] }}" name="phonen"  required = "true">
            </div>
            <div class = "row">
                <label for="phonen">
                <a>Name: </a>
            </label>
           <input value = "{{ user[3] }}" class = "input" type="username" placeholder="Name" name="name" >
            </div>
        
            <div class = "row">
                <a>Address: </a>
            <input value = "{{ user[4] }}" class = "inputad" type="username" placeholder="Address" name="address"  >
            </div>
                <div class = "row">
                    <label for="city">
                        <a>City: </a>
                    </label>
            <input value = "{{ user[5] }}" class = "inputci" type="username" placeholder="City" name="city" >
                <label for="state">
                    <a>State: </a>
                </label>
            <input value = "{{ user[6] }}" name = "state" class = "inputstate"  autoComplete="on" list="states" /> 
            <label for="zip">
                <a>Zip: </a>
            </label>
            <input value = "{{ user[7] }}" class = "inputaip" type="username" placeholder="Zip code" name="zip">
            </div>

            <div class = "row">
          <input class="button button2" type="submit" value="Done" formaction="/goto?place=home">
          <input class="button button2" type="submit" value="Update" >
          <input class="button button3" type="submit" value="Lookup another" formaction="/u2"> 
          </div>
          <div class = "row">
            {% if uerror %}
            <script>alert("{{ uerror}}")</script>
    {% endif %}
        </div>
        </form>
    
      </div>
    </div>

    
</body>



<datalist id = "states">
    <option value="AL">AL</option>
    <option value="AK">AK</option>
    <option value="AR">AR</option>	
    <option value="AZ">AZ</option>
    <option value="CA">CA</option>
    <option value="CO">CO</option>
    <option value="CT">CT</option>
    <option value="DC">DC</option>
    <option value="DE">DE</option>
    <option value="FL">FL</option>
    <option value="GA">GA</option>
    <option value="HI">HI</option>
    <option value="IA">IA</option>	
    <option value="ID">ID</option>
    <option value="IL">IL</option>
    <option value="IN">IN</option>
    <option value="KS">KS</option>
    <option value="KY">KY</option>
    <option value="LA">LA</option>
    <option value="MA">MA</option>
    <option value="MD">MD</option>
    <option value="ME">ME</option>
    <option value="MI">MI</option>
    <option value="MN">MN</option>
    <option value="MO">MO</option>	
    <option value="MS">MS</option>
    <option value="MT">MT</option>
    <option value="NC">NC</option>	
    <option value="NE">NE</option>
    <option value="NH">NH</option>
    <option value="NJ">NJ</option>
    <option value="NM">NM</option>			
    <option value="NV">NV</option>
    <option value="NY">NY</option>
    <option value="ND">ND</option>
    <option value="OH">OH</option>
    <option value="OK">OK</option>
    <option value="OR">OR</option>
    <option value="PA">PA</option>
    <option value="RI">RI</option>
    <option value="SC">SC</option>
    <option value="SD">SD</option>
    <option value="TN">TN</option>
    <option value="TX">TX</option>
    <option value="UT">UT</option>
    <option value="VT">VT</option>
    <option value="VA">VA</option>
    <option value="WA">WA</option>
    <option value="WI">WI</option>	
    <option value="WV">WV</option>
    <option value="WY">WY</option>
</datalist>
</html>
{% endif %}
